article {
    background:  #0000;
    display: grid;
}

header {
    text-align: center;
    background: blueviolet;
    border-radius: 10px;
}

section.main {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border: 10rem blueviolet;
    background-color: lightpink;
    border-radius: 10px;
    text-align: left;
}

section.source {
    margin-left: 10px;
    margin-right: 10px;
    border: orangered 5px;
    border-radius: 10px;
}

article img {
    max-width: 35rem;
    float: left;
    margin-right: 1rem;
    border: orangered 5px;
    border-radius: 10px;
}